{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dan's website :)</title>
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3-legend.susielu.com/d3-legend.min.js"></script>

</head>

<body>
    <div class="navbar">
        <button class="toggle-button">☰</button>
        <div class="navbar-links">
            <a href="{% url 'home' %}">Home</a>
            <a href="#">Projects</a>
            <a href="#">About</a>
            <a href="{% url 'cv' %}">Resume</a>
        </div>
    </div>
    <div class="containerquote">
        <div class="mainpart">
            <div class="text">
                <p class="quote">This is &#10024;my &#10024; portofolio website. If you are interested, please reach out
                    by email.</p>
            </div>
            <div class="buttons">
                <button id="downloadBtn">Download Resume</button>
                <a href="{% url 'cv' %}"><button id="downloadBtn">See Resume</button></a>
                <div class="emailDisplay" id="myEmail">danvas011@gmail.com</div>
                <button class="tooltip cute-button" onclick="myFunction()" onmouseout="outFunc()">
                    <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                    Copy gmail
                </button>
            </div>
        </div>
        <div id="map"></div>
    </div>
    
</body>
<script src="{% static 'script.js' %}"></script>

</html>